@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600');
@import './componets/_header.scss';
@import './componets/_general.scss';
@import './componets/_footer.scss';

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Asap',sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
h1 {
    font-size: 64px;
}

.container {
        width: 1170px;
        margin: 0 auto;
}

// Media req

    // Ipad

    @media screen and (max-width: 1024px) {
        .container {
            width: 990px;
        }
    }


@media screen and (max-width: 768px) {
    .container {
        width: 620px;
    }
}