// Види маніку
.materials {
    background: #F7F9FC;
    padding-top: 69px;
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .materials__left {
            padding-right: 129px;
            .materials__left__title {
                font-size: 58px;
                margin: 0;
            }
            .materials__left__img{
                position: relative;
                left: -30%;
            }
        }
        #material_svg{
            padding-right: 42px;
        }
        .materials__description {
            .material__description__gel-l {
                padding-bottom: 63px;
                .materials__description__gel-l__title {
                    margin: 0;
                }
                .materials__description__get-l__text {
                    line-height: 25px;
                }
            }
            .materials__description__gel {
                padding-bottom: 63px;
                .materials__description__gel__title {
                    margin: 0;
                }
                .materials__description__gel__text {
                    line-height: 25px;
                }
            }
            .materials__description__acrylic {
                .materials__description__acrylic__title {
                    margin: 0;
                }
                .materials__description__acrylic__text {
                    line-height: 25px;
                }
            }
        }
    }
}
// Вертикальна хуйня

.kindOfManicure {
    background: #22B1FF;
    .container-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 56px;
        padding-bottom: 48px;
        .container-flex__top-of {
            color: #fff;
            .container-flex__top-of__title {
                margin: 0;
                font-size: 46px;
                padding-bottom: 16px;
            }
            .container-flex__top-of__subtitle {
                margin: 0;
                font-size: 20px;
                font-weight: normal;
            }
        }
        .container-flex__button {
            background: none;
            border: 2px solid #FFF;
            color: #FFF;
            border-radius: 12px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.8em 2em;
            transition: all .3s ease;
            &:hover {
                background: #fff;
                color: #22B1FF;
                transition: all .5s ease;
            }
            &:focus {
                outline-color: #fff;
            }
        }
    }
    .scroll_container {
        display: flex;
        overflow-x: scroll;
        padding: 40px 0 185px 0;
        // -webkit-scrollbar {
        //     width: 12px;
        //     background-color: #F5F5F5;
        // }
        // -webkit-scrollbar-thumb {
        //     border-radius: 10px;
        //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        //     background-color: #D62929;
        // }
        // -webkit-scrollbar-track {
        //     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        //     border-radius: 10px;
        //     background-color: #F5F5F5;
        // }
        @mixin bg{
            background: #FFF;
            width: 460px;
            padding-bottom: 40px;
            margin-left: 65px;
            -webkit-box-shadow: 11px 15px 22px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 11px 15px 22px -8px rgba(0, 0, 0, 0.75);
            box-shadow: 11px 15px 22px -8px rgba(0, 0, 0, 0.75);
        }
        .scroll_container__1-item {
            @include bg;
            .scroll_container__1-item__photo {
                width: 460px;
                margin-bottom: 36px;
            }
            .scroll_container__1-item__text {
                padding: 0 63px;
                .scroll_container__1-item__text__title {
                    margin: 0;
                    font-size: 26px;
                }
                .scroll_container__1-item__text__by {
                    font-size: 20px;
                    margin: 0;
                    margin: 16px 0 40px 0 ;
                    .scroll_container__1-item__text__by--blue {
                        color: #22B1FF;
                        margin-left: 8px;
                    }
                }
                .scroll_container__1-item__text__about {
                    font-size: 20px;
                }
            }
        }
        .scroll_container__2-item {
            @include bg;
            .scroll_container__2-item__photo {
                width: 460px;
                margin-bottom: 36px;
            }

            .scroll_container__2-item__text {
                padding: 0 63px;
                .scroll_container__2-item__text__title {
                    margin: 0;
                    font-size: 26px;
                }
                .scroll_container__2-item__text__by {
                    font-size: 20px;
                    margin: 0;
                    margin: 16px 0 40px 0;
                    .scroll_container__2-item__text__by--blue {
                        color: #22B1FF;
                        margin-left: 8px;
                    }
                }
                .scroll_container__2-item__text__about {
                    font-size: 20px;
                }
            }
        }
        .scroll_container__3-item {
            @include bg;
            .scroll_container__3-item__photo {
                width: 460px;
                margin-bottom: 36px;
            }
            .scroll_container__3-item__text {
                padding: 0 63px;
                .scroll_container__3-item__text__title {
                    margin: 0;
                    font-size: 26px;
                }
                .scroll_container__3-item__text__by {
                    font-size: 20px;
                    margin: 0;
                    margin: 16px 0 40px 0;
                    .scroll_container__3-item__text__by--blue {
                        color: #22B1FF;
                        margin-left: 8px;
                    }
                }
                .scroll_container__3-item__text__about {
                    font-size: 20px;
                }
            }
        }
        .scroll_container__4-item {
            @include bg;
            .scroll_container__4-item__photo {
                width: 460px;
                margin-bottom: 36px;
            }

            .scroll_container__4-item__text {
                padding: 0 63px;
                .scroll_container__4-item__text__title {
                    margin: 0;
                    font-size: 26px;
                }
                .scroll_container__4-item__text__by {
                    font-size: 20px;
                    margin: 0;
                    margin: 16px 0 40px 0;
                    .scroll_container__4-item__text__by--blue {
                        color: #22B1FF;
                        margin-left: 8px;
                    }
                }
                .scroll_container__4-item__text__about {
                    font-size: 20px;
                }
            }
        }
    }
}

.price {
    background: #F7F9FC;
    position: relative;
    z-index: -2;
    padding-top: 72px;
    padding-bottom: 129px;
    font-family: 'Gilroy', sans-serif;
    .price__title {
        text-align: center;
        color: #4F4F4F;
        .price__title__pl {
            margin: 0;
            text-transform: uppercase;
            font-size: 58px;
        }
        .price__title__text {
            font-size: 28px;
        }
    }
    .price__list {
        display: flex;
        justify-content: space-around;
        // Текст на задньому фоні (Pavlo kidalo)
        &::before {
        content: attr(word);
        position: absolute;
        text-transform: uppercase;
        z-index: -1;
        font-size: 350px;
        font-weight: bold;
        color: #FFF;
        margin-top: 10px;
        }
        .price__list__ul {
            list-style: none;
            padding: 0;
            .price__list__ul__items {
                display: flex;
                justify-content: space-between;
                width: 500px;
                padding: 1em 0;
                font-size: 26px;
                .price__list__ul__items--color {
                    color: #22B1FF;
                }
            }
        }
    }
}

// MEDIA req

// Ipad

@media screen and (max-width: 1024px) {
    .main {
        .materials {
            .materials__left {
                padding-right: 29px;
            }
        }
        .price {
            .price__list {
                &::before {
                     margin-top: -50px;
                     font-size: 338px;
                 }
                .price__list__ul {
                    .price__list__ul__items {
                        font-size: 18px;
                         width: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        .materials {
            .flex {
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                .materials__left {
                    padding: 0;
                    padding-bottom: 100px;
                    text-align: center;
                }
                .materials__left__img {
                    display: none;
                }
                #material_svg {
                    padding-right: 0px;
                    display: none;
                }
                .materials__description {
                    text-align: center;
                    padding-bottom: 75px;
                }
            }
        }
        .price {
            overflow-x: hidden;
            .price__list {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}