.header {
    background-image: url("../img/header_bg.svg");
    background-size: 101% 87%;
    background-repeat: no-repeat;
    margin-bottom: 124px;

    .nav {
        background: #22B1FF;
        font-size: 0;
        list-style: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.75);
        padding: 0;
        margin-bottom: 89px;

        .flex {
            display: flex;
            justify-content: center;

            .nav__item {
                font-size: 20px;
                text-transform: uppercase;
                padding: 1em 2em;

                .nav__item__link {
                    color: #FFF;
                    text-decoration: none;
                    transition: all .6s ease-in-out;

                    &:hover {
                        color: #000;
                        transition: all .6s ease-in-out;
                    }
                }
            }
        }
    }

    .nav__mob {
        display: none;
        position: relative;
        margin-top: 34px;
        left: 86%;
        span {
            width: 58px;
            height: 7px;
            border-radius: 3px;
            background: #fff;
            display: block;
            margin-bottom: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            transition: .5s;
        }

    }

    .nav__mob.active span:nth-child(2) {
        transform: translateX(-50px);
        opacity: 0;
    }

    .nav__mob.active span:nth-child(1) {
        transform: rotateY(180deg) rotateZ(45deg) translate(11px, 12px);
    }

    .nav__mob.active span:nth-child(3) {
        transform: rotateY(180deg) rotateZ(-45deg) translate(12px, -14px);
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFF;
        margin-bottom: 205px;

        .hero__img__1 {
            position: absolute;
            left: 11%;
            top: 17%;
        }

        .hero__img__2 {
            position: absolute;
            left: 70%;
            top: 17%;
        }

        .hero__img__3 {
            position: absolute;
            left: 22%;
            top: 34%;
        }

        .hero__img__4 {
            position: absolute;
            left: 62%;
            top: 36%;
        }

        .hero__title {
            .hero__title__midle {
                display: flex;
                flex-direction: column;
                align-items: center;

                .hero__title__midle--bold {
                    margin: 0;
                    margin-bottom: 20px;
                    letter-spacing: 8px;
                    text-transform: uppercase;
                    font-size: 72px;
                }

                .hero__title__midle--light {
                    margin: 0;
                    font-weight: 100;
                    margin-bottom: 20px;
                    font-family: 'Gilroy', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
            }

            .hero__title__down {
                text-align: center;
                margin-bottom: 43px;
            }
        }

        .hero__button {
            .hero__button__first {
                border: 1px solid #FFF;
                background: transparent;
                border-radius: 12px;
                padding: 0.8em 2.6em;
                text-transform: uppercase;
                margin: 0 10px;
                transition: all .7s ease;

                &:hover {
                    color: #22B1FF;
                    background: #FFF;
                    transition: all .6s ease;
                    cursor: pointer;
                }

                &:focus {
                    outline-color: #fff;
                }
            }

            .hero__button__second {
                border: 1px solid #FFF;
                background: transparent;
                border-radius: 12px;
                padding: 0.8em 3em;
                text-transform: uppercase;
                margin: 0 10px;
                transition: all .7s ease;

                &:hover {
                    color: #22B1FF;
                    background: #FFF;
                    transition: all .6s ease;
                    cursor: pointer;
                }

                &:focus {
                    outline-color: #fff;
                }
            }
        }
    }

    .hero__services {
        display: flex;

        .hero__services__title {
            padding-right: 130px;
            color: #FFF;

            .hero__services__title__up {
                margin: 0;
                font-size: 58px;
                padding-bottom: 20px;
                font-family: 'Gilroy', sans-serif;
                font-weight: bolder;
            }

            .hero__services__down {
                font-size: 24px;
                padding-left: 23px;
            }
        }

        .hero__services__list {
            background: #FFF;
            padding: 3em;
            box-shadow: 10px 10px 37px -9px rgba(13, 131, 195, 0.2);
            padding-right: 60px;

            .hero__serviecs__list__ul {
                font-size: 0;
                padding: 0;
                list-style: none;
                padding-bottom: 16px;

                .hero__serviecs__list__ul__item {
                    font-size: 16px;
                    display: flex;
                    padding: 1em 0;
                    font-family: 'Gilroy', sans-serif;
                    font-weight: bolder;

                    svg {
                        padding-right: 1.6em;
                    }
                }
            }

            .hero__services__list__button {
                border: none;
                text-transform: uppercase;
                padding: 0.8em 2em;
                border-radius: 12px;
                color: #715050;
                background: #FFDB6B;
                font-weight: bold;
                float: right;
                transition: all .6s ease;
                font-size: 14px;
                margin-left: 413px;
                font-family: 'Gilroy', sans-serif;
                font-weight: bolder;

                &:hover {
                    cursor: pointer;
                    background: #FFF;
                    color: #FFDB6B;
                    transition: all .6s ease;
                }

                &:focus {
                    outline-color: #FFDB6Bz;
                }
            }
        }
    }
}

// Media req

// laptop l

@media screen and (max-width: 1440px) {
    .header {
        .hero {
            .hero__img__1 {
                left: 2%;
            }

            .hero__img__2 {
                left: 72%;
            }

            .hero__img__3 {
                left: 14%;
            }

            .hero__img__4 {
                left: 64%;
            }
        }
    }
}

// ipad

    @media screen and (max-width: 1024px) {
        .header {
            overflow-x: hidden;
            .hero {
                .hero__img__1 {
                    left: -5%;
                    top: 8%;
                }
                .hero__img__2 {
                    left: 72%;
                    top: 12%;
                }
                .hero__img__3 {
                    left: 5%;
                    top: 28%;
                }
                .hero__img__4 {
                    left: 62%;
                    top: 30%;
                }
            }
            .hero__services {
                .hero__services__title {
                    padding-right: 40px;
                    .hero__services__title__up {
                       padding-left: 30px;
                    }
                    .hero__services__down {
                        font-size: 24px;
                        padding-left: 36px;
                    }
                }
            }
        }
    }

@media screen and (max-width: 800px) {
    .header {
        background-image: url("../img/header_bg_mob.svg");
        background-size: 104% 68%;
        background-repeat: no-repeat;

        .nav {
            display: none;
        }

        .nav__mob {
            display: block;
        }
        .hero {
            .hero__logo {
                margin: 43px 0;
            }

            .hero__img__1 {
                display: none;
            }

            .hero__img__2 {
                position: relative;
                left: 23%;
                top: 110px;
            }

            .hero__img__3 {
                display: none;
            }

            .hero__img__4 {
                position: relative;
                left: -24%;
                bottom: 390px;
            }

            .hero__title__down {
                font-size: 22px;
            }

            .hero__button {
                font-size: 48px;
                margin-top: -299px;
                font-weight: bold;
                margin-bottom: 70px;

                .hero__button__first {
                    padding: 0.3em 0.5em;
                    border: 2px solid #FFF;
                }

                .hero__button__second {
                    padding: 0.3em 1em;
                    border: 2px solid #FFF;
                }
            }
        }

        .hero__services {
            flex-direction: column;
            align-items: center;
            .hero__services__title {
                color: #22B1FF;
                padding: 0;

                .hero__services__title__up {
                    text-align: center;
                }

                .hero__services__down {
                    display: none;
                }
            }

            .hero__services__list {
                box-shadow: none;

                .hero__services__list__button {
                    background: none;
                    color: #22B1FF;
                    padding: 0;
                    font-size: 26px;
                    float: left;
                    margin: 0;
                    margin-top: 80px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
